#tableDiv {
	margin-bottom: 30px;
}

table {

	table-layout: fixed;
	width: 800px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: left;

}

#details {
	width: 350px;
	height: 150px;
	border: 2px solid black;
	margin-left: 30px;
	padding: 10px;
}


th{
	width: 25%;
}