#box {
	position: relative;
	background-color: #efefef;
	width: 500px;
	padding: 15px;
	font-size: 15px;
	border: 2px solid #222 ;
	box-shadow: 3px 3px 8px #222;

}
#display {
	width: 400px;
	height: 50px;
    resize:none;
}

h3 {
	margin-top: 5px;
	padding-bottom: 10px;
}

