#mainDiv {
	background-color: skyblue;
	width: 300px;
	margin: 25px auto;
	box-shadow:5px 5px 10px grey;
	padding: 20px;


}

#display {
	height: 70px;
	width: 290px;
	border: 0px;
	right: 100px;
	margin-bottom: 20px;
	font-size: 50px;


}

#digit, #submitButton  {  
	width: 70px;
	height: 50px;
	font-size: 20px;
	border:0px;
	opacity: 0.8;

}
 #resetButton {
 	width: 50px;
	height: 50px;
	font-size: 20px;
	border:0px;
	opacity: 0.8;
 }